<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>관리자 홈</title>

  <link rel="stylesheet" th:href="@{/css/manager/manager-home.css}" />
</head>

<body>

  <!-- 헤더 -->
  <header class="header">
    <div class="left-area">
      <a th:href="@{/}" class="logo">
        <img th:href="@{/}" th:src="@{/images/manager/devlog.svg}" alt="Devlog logo" class="logo" />
      </a>
      <span class="welcome"
        th:text="|${session.loginMember != null ? session.loginMember.memberNickname : '관리자'}님, 돌아오신 것을 환영합니다.|">
        소연님, 돌아오신 것을 환영합니다.
      </span>
    </div>
    <div class="dashboard-info">
      Devlog<br />
      <span>Manager Dashboard</span>
    </div>
  </header>

  <div class="layout">

    <!-- 사이드 바-->
    <aside class="sidebar">
      <nav class="menu">
        <h4>Management</h4>
        <ul>
          <li>
            <img th:src="@{/images/manager/home.svg}" alt="home" />
            <span>Home</span>
          </li>

          <li th:onclick="|location.href='@{/api/manager}'|">
            <img th:src="@{/images/manager/customer.svg}" alt="customers" />
            <span>Customers</span>
          </li>

          <li th:onclick="|location.href='@{/manager/dashboard/report}'|">
            <img th:src="@{/images/manager/report.svg}" alt="report" />
            <span>Report</span>
          </li>

          <li th:onclick="|location.href='@{/manager/dashboard/pay}'|">
            <img th:src="@{/images/manager/pay.svg}" alt="pay" />
            <span>Pay</span>
          </li>
        </ul>
      </nav>

      <!-- 로그아웃 -->
      <div class="logout" th:onclick="|location.href='@{/member/logout}'|">
        <img th:src="@{/images/common/logout.svg}" alt="logout" />
        <span>Logout</span>
      </div>
    </aside>

    <main class="main">

      <iframe src="http://localhost:5601/app/dashboards#/view/3f0d7bae-83ef-4588-b95e-34c56f310dd2?embed=true&_g=%28refreshInterval%3A%28pause%3A%21t%2Cvalue%3A60000%29%2Ctime%3A%28from%3Anow-7d%2Cto%3Anow%29%29&hide-filter-bar=true" height="660" width="1200"></iframe>
    </main>

  </div>

  
</body>

</html>