<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IT지식뉴스</title>
  <link rel="stylesheet" href="../../../static/css/board/ITnews/ITnewsList.css">


</head>

<body>

  <div class="ITnews">
    <h1>IT지식뉴스</h1><br>
    <div class="ITnews-category">
      <div class="form-inline">
        <button>
          <img src="../../../static/images/board/ITnews/ITnews_AI.svg">
          <span>AI</span>
        </button>
        <button>
          <img src="../../../static/images/board/ITnews/ITnews_tech.svg">
          <span>테크</span>
        </button>
        <button>
          <img src="../../../static/images/board/ITnews/ITnews_IT.svg">
          <span>IT기업</span>
        </button>
        <button>
          <img src="../../../static/images/board/ITnews/ITnews_game.svg">
          <span>게임</span>
        </button>
        <button>
          <img src="../../../static/images/board/ITnews/ITnews_Science.svg">
          <span>과학</span>
        </button>
        <button>
          <img src="../../../static/images/board/ITnews/ITnews_space.svg">
          <span>우주</span>
        </button>
      </div><br><br>


    </div>

    <main>
      <div class="news-list">
        <article class="news-item">

          <div class="content">
            <h3 class="title">게임 축제 'AGF 2025', 뜨거운 열기…일산 킨텍스 '인산인해'</h3>
            <p class="summary">
              (지디넷코리아=정진성 기자)국내 최대 규모의 서브컬처 축제 'AGF 2025(Anime X Game Festival)'
              가 지난 5일 경기도 고양시 킨텍스에서 화려한 막을 올렸다. 7일까지 사흘 동안 킨텍스 제1전시장 1~
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
            </p>
          </div>
          <img class="thumbnail" src="../../../static/images/board/ITnews/thumb.png" alt="썸네일">

        </article>

        <article class="news-item">


          <div class="content">
            <h3 class="title">게임 축제 'AGF 2025', 뜨거운 열기…일산 킨텍스 '인산인해'</h3>
            <p class="summary">
              (지디넷코리아=정진성 기자)국내 최대 규모의 서브컬처 축제 'AGF 2025(Anime X Game Festival)'
              가 지난 5일 경기도 고양시 킨텍스에서 화려한 막을 올렸다. 7일까지 사흘 동안 킨텍스 제1전시장 1~
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
            </p>
          </div>
          <img class="thumbnail" src="../../../static/images/board/ITnews/thumb.png" alt="썸네일">

        </article>

        <article class="news-item">

          <div class="content">
            <h3 class="title">게임 축제 'AGF 2025', 뜨거운 열기…일산 킨텍스 '인산인해'</h3>
            <p class="summary">
              (지디넷코리아=정진성 기자)국내 최대 규모의 서브컬처 축제 'AGF 2025(Anime X Game Festival)'
              가 지난 5일 경기도 고양시 킨텍스에서 화려한 막을 올렸다. 7일까지 사흘 동안 킨텍스 제1전시장 1~
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
            </p>
          </div>
          <img class="thumbnail" src="../../../static/images/board/ITnews/thumb.png" alt="썸네일">

        </article>

        <article class="news-item">

          <div class="content">
            <h3 class="title">게임 축제 'AGF 2025', 뜨거운 열기…일산 킨텍스 '인산인해'</h3>
            <p class="summary">
              (지디넷코리아=정진성 기자)국내 최대 규모의 서브컬처 축제 'AGF 2025(Anime X Game Festival)'
              가 지난 5일 경기도 고양시 킨텍스에서 화려한 막을 올렸다. 7일까지 사흘 동안 킨텍스 제1전시장 1~
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
            </p>
          </div>
          <img class="thumbnail" src="../../../static/images/board/ITnews/thumb.png" alt="썸네일">

        </article>


        <article class="news-item">

          <div class="content">
            <h3 class="title">게임 축제 'AGF 2025', 뜨거운 열기…일산 킨텍스 '인산인해'</h3>
            <p class="summary">
              (지디넷코리아=정진성 기자)국내 최대 규모의 서브컬처 축제 'AGF 2025(Anime X Game Festival)'
              가 지난 5일 경기도 고양시 킨텍스에서 화려한 막을 올렸다. 7일까지 사흘 동안 킨텍스 제1전시장 1~
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
            </p>
          </div>
          <img class="thumbnail" src="../../../static/images/board/ITnews/thumb.png" alt="썸네일">

        </article>


        <article class="news-item">

          <div class="content">
            <h3 class="title">게임 축제 'AGF 2025', 뜨거운 열기…일산 킨텍스 '인산인해'</h3>
            <p class="summary">
              (지디넷코리아=정진성 기자)국내 최대 규모의 서브컬처 축제 'AGF 2025(Anime X Game Festival)'
              가 지난 5일 경기도 고양시 킨텍스에서 화려한 막을 올렸다. 7일까지 사흘 동안 킨텍스 제1전시장 1~
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
            </p>
          </div>
          <img class="thumbnail" src="../../../static/images/board/ITnews/thumb.png" alt="썸네일">

        </article>


        <article class="news-item">

          <div class="content">
            <h3 class="title">게임 축제 'AGF 2025', 뜨거운 열기…일산 킨텍스 '인산인해'</h3>
            <p class="summary">
              (지디넷코리아=정진성 기자)국내 최대 규모의 서브컬처 축제 'AGF 2025(Anime X Game Festival)'
              가 지난 5일 경기도 고양시 킨텍스에서 화려한 막을 올렸다. 7일까지 사흘 동안 킨텍스 제1전시장 1~
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
            </p>
          </div>
          <img class="thumbnail" src="../../../static/images/board/ITnews/thumb.png" alt="썸네일">

        </article>
        <article class="news-item">

          <div class="content">
            <h3 class="title">게임 축제 'AGF 2025', 뜨거운 열기…일산 킨텍스 '인산인해'</h3>
            <p class="summary">
              (지디넷코리아=정진성 기자)국내 최대 규모의 서브컬처 축제 'AGF 2025(Anime X Game Festival)'
              가 지난 5일 경기도 고양시 킨텍스에서 화려한 막을 올렸다. 7일까지 사흘 동안 킨텍스 제1전시장 1~
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
              htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.htmlcssjs너무어려워요.
            </p>
          </div>
          <img class="thumbnail" src="../../../static/images/board/ITnews/thumb.png" alt="썸네일">

        </article>
      </div>


    </main>

  </div>


  <!--  페 이 지 네 이 션 !!!!!!! -->


  <!-- <div th:replace="common/footer :: footer"></div> -->

</body>

</html>