<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devlog.project.board.blog.mapper.BlogMapper">

    <insert id="insertBoard" parameterType="com.devlog.project.board.blog.dto.BlogDTO">
        <selectKey keyProperty="boardNo" resultType="long" order="BEFORE">
            SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO "BOARD" (
            BOARD_NO, BOARD_CODE, MEMBER_NO, BOARD_TITLE, BOARD_CONTENT, 
            B_CREATE_DATE, BOARD_DEL_FL, BOARD_COUNT
        ) VALUES (
            #{boardNo}, 1, #{memberNo}, #{boardTitle}, #{boardContent}, 
            SYSDATE, 'N', 0
        )
    </insert>

    <insert id="insertBlog" parameterType="com.devlog.project.board.blog.dto.BlogDTO">
        INSERT INTO "BLOG" (
            BOARD_NO, IS_PAID, PRICE, TEMP_FL
        ) VALUES (
            #{boardNo}, #{isPaid}, #{price}, #{tempFl}
        )
    </insert>

    <update id="insertTag" parameterType="string">
        MERGE INTO "TAG" t USING DUAL ON (t.TAG_NAME = #{tagName})
        WHEN NOT MATCHED THEN INSERT (TAG_NO, TAG_NAME) VALUES (SEQ_TAG_NO.NEXTVAL, #{tagName})
    </update>

    <select id="selectTagNoByName" parameterType="string" resultType="long">
        SELECT TAG_NO FROM "TAG" WHERE TAG_NAME = #{tagName}
    </select>

    <insert id="insertBlogTag" parameterType="map">
        INSERT INTO "BLOG_TAG" (BOARD_NO, TAG_NO) VALUES (#{boardNo}, #{tagNo})
    </insert>

    <select id="selectBlogList" parameterType="map" resultType="com.devlog.project.board.blog.dto.BlogDTO">
        SELECT * FROM (
            SELECT ROWNUM AS RNUM, A.* FROM (
                SELECT 
                    b.BOARD_NO AS boardNo,
                    b.BOARD_TITLE AS boardTitle,
                    DBMS_LOB.SUBSTR(b.BOARD_CONTENT, 100, 1) AS boardContent,
                    b.BOARD_COUNT AS boardCount,
                    TO_CHAR(b.B_CREATE_DATE, 'YYYY.MM.DD') AS bCreateDate,
                    m.MEMBER_NICKNAME AS memberNickname,
                    m.MEMBER_EMAIL AS memberEmail,
                    m.PROFILE_IMG AS thumbnailUrl,
                    bl.IS_PAID AS isPaid,
                    bl.PRICE AS price,
                    (SELECT COUNT(*) FROM "COMMENT" c WHERE c.BOARD_NO = b.BOARD_NO) AS commentCount,
                    (SELECT COUNT(*) FROM "BOARD_LIKE" l WHERE l.BOARD_NO = b.BOARD_NO) AS likeCount
                FROM "BOARD" b
                JOIN "MEMBER" m ON b.MEMBER_NO = m.MEMBER_NO
                JOIN "BLOG" bl ON b.BOARD_NO = bl.BOARD_NO
                WHERE b.BOARD_CODE = 1 AND b.BOARD_DEL_FL = 'N' AND bl.TEMP_FL = 'N'
                <choose>
                    <when test="sort == 'viewCount'">ORDER BY b.BOARD_COUNT DESC, b.BOARD_NO DESC</when>
                    <when test="sort == 'likeCount'">ORDER BY likeCount DESC, b.BOARD_NO DESC</when>
                    <when test="sort == 'commentCount'">ORDER BY commentCount DESC, b.BOARD_NO DESC</when>
                    <otherwise>ORDER BY b.BOARD_NO DESC</otherwise>
                </choose>
            ) A
        )
        WHERE RNUM BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="countBlogList" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM "BOARD" b JOIN "BLOG" bl ON b.BOARD_NO = bl.BOARD_NO
        WHERE b.BOARD_CODE = 1 AND b.BOARD_DEL_FL = 'N' AND bl.TEMP_FL = 'N'
    </select>

    <select id="selectMyBlogList" parameterType="map" resultType="com.devlog.project.board.blog.dto.BlogDTO">
        SELECT * FROM (
            SELECT ROWNUM AS RNUM, A.* FROM (
                SELECT 
                    b.BOARD_NO AS boardNo,
                    b.BOARD_TITLE AS boardTitle,
                    DBMS_LOB.SUBSTR(b.BOARD_CONTENT, 100, 1) AS boardContent,
                    b.BOARD_COUNT AS boardCount,
                    TO_CHAR(b.B_CREATE_DATE, 'YYYY.MM.DD') AS bCreateDate,
                    m.MEMBER_NICKNAME AS memberNickname,
                    m.MEMBER_EMAIL AS memberEmail,
                    m.PROFILE_IMG AS thumbnailUrl,
                    bl.IS_PAID AS isPaid,
                    (SELECT COUNT(*) FROM "COMMENT" c WHERE c.BOARD_NO = b.BOARD_NO) AS commentCount,
                    (SELECT COUNT(*) FROM "BOARD_LIKE" l WHERE l.BOARD_NO = b.BOARD_NO) AS likeCount
                FROM "BOARD" b
                JOIN "MEMBER" m ON b.MEMBER_NO = m.MEMBER_NO
                JOIN "BLOG" bl ON b.BOARD_NO = bl.BOARD_NO
                WHERE b.BOARD_CODE = 1 AND b.BOARD_DEL_FL = 'N' 
                  AND m.MEMBER_EMAIL = #{blogId} AND bl.TEMP_FL = 'N'
                
                <if test="type == 'paid'">
                    AND bl.IS_PAID = 'Y'
                </if>
                
                ORDER BY b.BOARD_NO DESC
            ) A
        )
        WHERE RNUM BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="countMyBlogList" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM "BOARD" b JOIN "MEMBER" m ON b.MEMBER_NO = m.MEMBER_NO JOIN "BLOG" bl ON b.BOARD_NO = bl.BOARD_NO
        WHERE b.BOARD_CODE = 1 AND b.BOARD_DEL_FL = 'N' AND m.MEMBER_EMAIL = #{blogId} AND bl.TEMP_FL = 'N'
        
        <if test="type == 'paid'">
            AND bl.IS_PAID = 'Y'
        </if>
    </select>

    <select id="selectBlogDetail" parameterType="long" resultType="com.devlog.project.board.blog.dto.BlogDTO">
        SELECT 
            b.BOARD_NO AS boardNo,
            b.BOARD_TITLE AS boardTitle,
            b.BOARD_CONTENT AS boardContent,
            b.BOARD_COUNT AS boardCount,
            TO_CHAR(b.B_CREATE_DATE, 'YYYY.MM.DD HH24:MI') AS bCreateDate,
            m.MEMBER_NO AS memberNo,
            m.MEMBER_EMAIL AS memberEmail,
            m.MEMBER_NICKNAME AS memberNickname,
            m.PROFILE_IMG AS profileImg,
            bl.PRICE AS price,
            bl.IS_PAID AS isPaid,
            (SELECT COUNT(*) FROM "COMMENT" c WHERE c.BOARD_NO = b.BOARD_NO) AS commentCount,
            (SELECT COUNT(*) FROM "BOARD_LIKE" l WHERE l.BOARD_NO = b.BOARD_NO) AS likeCount
        FROM "BOARD" b
        JOIN "MEMBER" m ON b.MEMBER_NO = m.MEMBER_NO
        JOIN "BLOG" bl ON b.BOARD_NO = bl.BOARD_NO
        WHERE b.BOARD_NO = #{boardNo}
    </select>

    <update id="updateViewCount" parameterType="long">
        UPDATE "BOARD" SET BOARD_COUNT = BOARD_COUNT + 1 WHERE BOARD_NO = #{boardNo}
    </update>

    <select id="selectPopularPost" parameterType="string" resultType="com.devlog.project.board.blog.dto.BlogDTO">
        SELECT * FROM (
            SELECT 
                b.BOARD_NO AS boardNo,
                b.BOARD_TITLE AS boardTitle,
                b.BOARD_CODE AS boardCode,
                TO_CHAR(b.B_CREATE_DATE, 'YYYY.MM.DD') AS bCreateDate,
                b.BOARD_COUNT AS boardCount,
                m.PROFILE_IMG AS thumbnailUrl, 
                (SELECT COUNT(*) FROM "BOARD_LIKE" l WHERE l.BOARD_NO = b.BOARD_NO) AS likeCount
            FROM "BOARD" b
            JOIN "MEMBER" m ON b.MEMBER_NO = m.MEMBER_NO
            JOIN "BLOG" bl ON b.BOARD_NO = bl.BOARD_NO
            WHERE b.BOARD_DEL_FL = 'N' 
              AND bl.TEMP_FL = 'N'
              AND m.MEMBER_EMAIL = #{blogId}
            ORDER BY b.BOARD_COUNT DESC, b.BOARD_NO DESC
        )
        WHERE ROWNUM = 1
    </select>

    <select id="selectBlogTagList" parameterType="string" resultType="com.devlog.project.board.blog.dto.TagDto">
        SELECT 
            t.TAG_NAME AS name, 
            COUNT(bt.TAG_NO) AS count
        FROM "TAG" t
        JOIN "BLOG_TAG" bt ON t.TAG_NO = bt.TAG_NO
        JOIN "BOARD" b ON bt.BOARD_NO = b.BOARD_NO
        JOIN "MEMBER" m ON b.MEMBER_NO = m.MEMBER_NO
        WHERE m.MEMBER_EMAIL = #{blogId}
          AND b.BOARD_DEL_FL = 'N'
        GROUP BY t.TAG_NAME
        ORDER BY count DESC
    </select>
    
    <select id="selectBoardTags" resultType="string">
    SELECT T.TAG_NAME
    FROM TAG T
    JOIN BLOG_TAG BT ON T.TAG_NO = BT.TAG_NO
    WHERE BT.BOARD_NO = #{boardNo}
	</select>

</mapper>