<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>IT 채용 정보 캘린더</title>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../static/css/board/Jobposting/calender.css">
</head>

<body>

  <div class="calendar-container">
    <div class="calendar-header">
      <h1>IT 채용 정보</h1>
      <p>최신 공고를 한 눈에 모아보세요!</p>
    </div>

    <div id="calendar"></div>
  </div>

  <script src="../../../static/js/board/Jobposting/calender.js"></script>

</body>