<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>댓글</title>

    <link rel="stylesheet" href="../../../static/css/board/freeboard/comments.css">
    <link rel="stylesheet" href="../../static/css/common/font.css">
</head>
<body>


    <div class="container">

        <!-- 상단 라인 -->
        <hr class="line">

        <h3 class="title">댓글</h3>

        <hr class="line">

        <!-- 댓글 1 -->
        <div class="comment-item">
            <img src="../../../static/images/board/freeboard/fbComment_img1.png" class="profile-img">

            <div class="comment-info">
                <div class="comment-name">묘소연</div>
                <div class="comment-text">글 잘 봤습니다. ^^</div>
            </div>

            <div class="comment-actions">
                <span class="action-btn">수정</span>
                <span class="action-btn">삭제</span>
            </div>
        </div>

        <!-- 댓글 2 -->
        <div class="comment-item">
            <img src="../../../static/images/board/freeboard/fbComment_img2.png" class="profile-img">

            <div class="comment-info">
                <div class="comment-name">줌-웅</div>
                <div class="comment-text">글 잘 봤습니다. ^^</div>
            </div>

            <div class="comment-actions">
                <span class="action-btn">수정</span>
                <span class="action-btn">삭제</span>
            </div>
        </div>

        <div class="comment-write-wrapper">
            <!-- 입력 박스 -->
            <div class="comment-input">
                진짜 팀 구성은 기술보다 인간 가치가 더 중요한 것 같아요… 가끔은 그냥 파티원 모집 게시판에
                운 좋은 사람이 나타나기만을 기도하는 느낌입니다😂
            </div>

            <!-- 등록 버튼 -->
            <div class="submit-box">
                <button class="submit-btn">댓글등록</button>
            </div>
        </div>

    </div>


</body>
</html>
