<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판 - 상세보기</title>
    <link rel="stylesheet" href="../../../static/css/board/freeboard/freeboardDetail.css">
    <link rel="stylesheet" href="../../../static/css/common/font.css">
</head>
<body>

<div class="container-wrapper">
    <!-- 상단 제목 -->
    <h2 class="title-main fw-800">자유게시판</h2>
    <div class="container">

        <!-- 글 제목 -->
        <div class="post-title">사이드 프로젝트 팀원을 모으는 게 생각보다 어렵네요</div>

        <!-- 작성정보 -->
        <div class="post-info-area">
            <!-- 대표 이미지 -->
            <div class="main-image-box">
                <img src="../../../static/images/board/freeboard/fbUpdate_img1.png" class="main-img" alt="#">
            </div>

            <div class="post-info-box">
                <div class="info-text">
                    <div class="info-text-row"><span>작성일</span> <span class="info-text-row span"><p>2025.12.07</p></span></div>
                    <div class="info-text-row"><span>조회수</span> <span class="info-text-row span"><p>19</p></span></div>
                    <div class="info-text-row"><span>작성자</span> <span class="info-text-row span"><p>유재철</p></span></div>
                    <!-- <div class="heart info-text-row"><span>❤️</span> <span class="info-text-row span"><p>10</p></span></div> -->
                    <div class="heart info-text-row">
                        <span class="heart-like-img">
                            <img src="../../../static/images/board/freeboard/iconfy_twemoji_red-heart_filled.png" class="heart-like" alt="#">
                        </span> 
                        <span class="info-text-row span"><p>10</p></span>
                    </div>
                </div>
                <!-- <div class="info-like">
                    <div class="heart">❤️</div>
                    <div>10</div>
                </div> -->
            </div>
    
            <!-- 신고 버튼 -->
            <div class="report-box">
                <div  class="report-btn" id="reportBtn">
                    <div>게시글신고</div>
                    <img src="../../../static/images/board/freeboard/report_icon.png" class="report-img" alt="#">
                </div>
            </div>
    

        </div>

        <!-- 작은 이미지들 -->
        <div class="sub-image-box">
            <img src="../../../static/images/board/freeboard/fbDetail_img2.png" class="sub-img" alt="#">
            <img src="../../../static/images/board/freeboard/fbDetail_img3.png" class="sub-img" alt="#">
        </div>

        <!-- 본문 내용 -->
        <div class="content">사이드 프로젝트 팀을 꾸리는 순간 저는 개발자가 아니라 스케줄 관리사가 됩니다. 서로 시간 조율하다가 하루가 사라지고, 회의를 하면 잡담이 기능 구현보다 길고, 회의 끝날 때마다 “우리… 뭐했지?” 싶습니다. 그래도 잘 맞는 팀원을 만나면 속도가 빛의 속도로 변하고 개발이 ‘힐링 취미’가 되는 기적을 봤어요. 문제는 그런 사람 찾는 게 리자인 알바보다 어렵다는 거죠. 여러분은 팀원을 고를 때 어떤 기준을 쓰시나요? 스택, 성격, 협업력… 혹은 “이해력 95% 이상” 같은 중요한 요소 있나요? 진지하게 듣고 싶습니다. 저는 이미 세 번 팀 구성 실패해서 마음이 닳았습니다.
        </div>

        <!-- 하단 버튼 -->
        <div class="bottom-btn-box">
            <button class="bottom-btn">수정</button>
            <button class="bottom-btn">삭제</button>
            <button class="bottom-btn">목록으로</button>
        </div>

    </div>

</div>

</body>
</html>
