.news-header {
  width: 100%;
  height: 400px;
}

.news-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.news-area {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.news-title {
  display: flex;
  justify-content: center;
}

.news-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

p {
  margin: 5px;
}

.news-content-image {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

.news-content-text {
  max-width: 550px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 20px;
}

#goToListBtn {
  display: flex;
  margin-top: 10px;
  background-color: #9C9C9C;
  border-radius: 20px;
  color: white;
  border: none;
  width: 80px;
  height: 30px;
  align-items: center;
  justify-content: center;
}