/* 전체 크기 조정 */
.ITnews {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  justify-self: center;

}

.ITnews h1 {
  justify-self: center;
}


.ITnews-category {
  margin-bottom: 12px;
  justify-self: center;


}

.ITnews-category button {
  background-color: white;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  border-color: #BD83CE;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);


}

button:hover {
  background-color: #BD83CE;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;


}

button:hover img {
  filter: invert(1) brightness(500%);
  /* 흰색으로 반전 */
}



/* 목록 리스트 */
.news-list {
  border-top: 2px solid #BD83CE;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1200px;
  align-items: center;
}


/* article 태그 */
.news-item {
  display: flex;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid #BD83CE;

}

.thumbnail {
  border-radius: 10px;
  width: 110px;
  height: 110px;
}




.summary {
  font-size: 15px;
  color: #555;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 보여줄 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}